.App {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

#new-quote {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  border: none;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

#tweet-quote {
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  color: white;
  background-color: #1da1f2;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

#tweet-quote:visited {
  color: white;
  text-decoration: dashed;
}